{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for auction in auctions %}
        <div class="row">

            {% if auction.photo %}
            <div class="col-4">
                <img src = "{{ auction.photo|safe }}" alt="didn't find image">
            </div>
            {% endif %}

            <div class="col-8">
                <h3>{{ auction.title }}</h3>
                <strong>Price: ${{ auction.starting_bid }}</strong>
                <p>{{ auction.description }}</p>
            </div>
            
            
        </div>
    {% endfor %}
{% endblock %}